*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: start;
    justify-content: center;
}
section{
    padding: 3rem;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}
#Input-Task{
    font-size: 1.5rem;
    padding: 0rem 0rem 0rem .5rem;
    border: 0rem;
    border-bottom: 1px solid black;
    outline: 0px;
}
.Task{
    display: flex;
    font-size: 1.3rem;
    padding: .7rem .5rem;
    align-items: center;
    justify-content: space-between;
    gap: .7rem;
    margin-bottom: .3rem;
    border-radius: 3px;
    background-color: #f3f4e5;
    max-width: 100%;
}
.DivLayout{
    display: flex;
    gap: .7rem;
}
.Buttons{
    display: flex;
    align-items: center;
    opacity: 0;
}
li:hover .Buttons{
    opacity: 100;
    transition-duration: 150ms;
}
img{
    padding: .2rem;
    border-radius: 100%;
}
.Lists{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}
#List-Tasks{
    height: 35vh;
    overflow: auto;
}
#List-Tasks::-webkit-scrollbar{
    background-color: #ffffff;
}
#List-Tasks::-webkit-scrollbar{
    width: .7rem;
}
#List-Tasks::-webkit-scrollbar-thumb{
    background-color: #a1c1be;
}
#List-Do{
    height: 35vh;
    overflow: auto;
}
#List-Do li{
    opacity: 60%;
}
#List-Do li .buttons{
    display: none;
}
#List-Do .checkbox{
    pointer-events: none;
}
#List-Do .task{
    opacity: 70%;
}
.Title-Do{
    font-size: 1rem;
}
.Div-List-Do div{
    display: flex;
    align-items: center;
}
