*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: start;
    justify-content: center;
}
section{
    padding: 3rem;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}
#task{
    display: flex;
    font-size: 1.3rem;
    padding: .7rem .5rem;
    align-items: center;
    gap: .7rem;
    margin-bottom: .3rem;
    border-radius: 3px;
    background-color: rgb(86, 113, 114);
    max-width: 100%;
}
#input-task{
    font-size: 1.5rem;
    padding: 0rem 0rem 0rem .5rem;
    border: 0rem;
    border-bottom: 1px solid black;
    outline: 0px;
}
#buttons{
    opacity: 0;
    gap: .5rem;
    display: flex;
    flex: 1;
    justify-content: end;
}
li:hover #buttons{
    opacity: 100;
}
img{
    background-color: wheat;
    padding: .2rem;
    border-radius: 100%;
}
.lists{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}
#listdo{
    overflow: auto;
}
#listdo li{
    opacity: 60%;
}
#listdo li #buttons{
    display: none;
}

#listdo #checkbox{
    pointer-events: none;
}

#sublist{
    margin-left: 1rem;
}
